{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-maxfilter/out_dir_maxfilter/meg.fif",
    "param_filter_l_freq": 0.5,
	"param_filter_h_freq": 150,
	"param_filter_picks": null,
	"param_filter_length": "auto",
	"param_filter_l_trans_bandwidth": "auto",
	"param_filter_h_trans_bandwidth": "auto",
	"param_filter_n_jobs": 1,
	"param_filter_method": "fir",
	"param_filter_iir_params": null,
	"param_filter_phase": "zero",
	"param_filter_fir_window": "hamming",
	"param_filter_fir_design": "firwin",
	"param_filter_skip_by_annotation": ["edge", "bad_acq_skip"],
	"param_filter_pad": "reflect_limited",
	"param_apply_notch": true,
	"param_notch_freqs_start": 50,
	"param_notch_freqs_end": 251,
	"param_notch_freqs_step": 50,
	"param_notch_picks": null,
	"param_notch_filter_length": "auto",
	"param_notch_widths": null,
	"param_notch_trans_bandwidth": 1.0,
	"param_notch_n_jobs": 1,
	"param_notch_method": "fir",
	"param_notch_iir_parameters": null,
	"param_notch_mt_bandwidth": null,
	"param_notch_p_value": 0.05,
	"param_notch_phase": "zero",
	"param_notch_fir_window": "hamming",
	"param_notch_fir_design": "firwin",
	"param_notch_pad": "reflect_limited",
	"param_apply_resample": true
}



					   
					   
					   
