{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-bad-channels/out_dir_bad_channels/meg.fif",
	"calibration": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/sss_cal.dat",
    "crosstalk": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/ct_sparse.fif",
    "headshape": "",
    "destination": "",
	"events": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-create-events/out_dir_create_events/events.tsv",
	"param_epoched_data": false,
    "param_l_freq": 0.5,
	"param_h_freq": 150,
	"param_picks_by_channel_types_or_names": null,
	"param_picks_by_channel_indices": "2, 8", 
	"param_filter_length": "auto",
	"param_l_trans_bandwidth": "auto",
	"param_h_trans_bandwidth": "auto",
	"param_n_jobs": 1,
	"param_method": "fir",
	"param_iir_params": null,
	"param_phase": "zero",
	"param_fir_window": "hamming",
	"param_fir_design": "firwin",
	"param_skip_by_annotation": ["edge", "bad_acq_skip"],
	"param_raw_pad": "reflect_limited",
	"param_epoch_pad": "edge"
}
