{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/test_snr/data/subject_1/bad_channels_1.fif",
    "param_apply_notch": true,
    "param_notch_frequencies": 50,
    "param_filter_l_freq": 0.5,
    "param_filter_h_freq": 100,
    "param_apply_resample": true,
    "param_sfreq": 256
}